html{
    scroll-behavior: smooth;
    /*  font-family: 'Lato', sans-serif; */
        font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;


}
button{
    border: none;
}
.header-hero-area{
    background: url('img/1.svg');

}
ul li{
    list-style: none;
}
.card{
    border: none;
}
/* -----------------------------------------------------
header-hero-area start
---------------------------------------------------- */


/* header area start*/
.header-hero-area .navbar-light .navbar-brand {
    color: white;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    text-transform: capitalize;
}

.menu ul li ul .dropdown-item i {
    margin-right: 10px;
    color: #0D6EFD;
}

a.dropdown-item {
    transition: .4s;
}
a.dropdown-item:hover{
    color: #0D6EFD;
    padding: .25rem 1.3rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #0D6EFD;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}
/* header area end*/

/* hero area start*/
.hero-area .row{
    align-items: center;
}
.hero-area .text button{
    transition: .4s;
}
.hero-area .text button:hover {
    transform: translate(0px, -5px);
}
.hero-area .text p.sign-text {
    font-size: 14px;
}
.agnle-mobile img.mobile {
    width: 360px;
    position: relative;
    transform: perspective(1400px) rotateY(-20deg) rotateX(10deg) rotateZ(6deg) scale(0.7) translateX(50%) translateY(6%);
    transition: transform 0.45s cubic-bezier(0.2, 0.7, .3, 1);
}
.agnle-mobile:hover img.mobile{
    transform: perspective(1400px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.9) translateX(44%) translateY(6%);
}
.agnle-mobile img.card {
    width: 460px;
    position: absolute;
    transform: perspective(1400px) rotateY(4deg) rotateX(0deg) rotateZ(4deg) scale(.8) translateX(-39%) translateY(33%);
    transition: .4s;
    background-color: transparent;
    border: none;
}
/* hero area end*/
/* -----------------------------------------------------
header-hero-area end
---------------------------------------------------- */


/* -----------------------------------------------------
cleint-area start
---------------------------------------------------- */
.client-area{
    border-bottom: 1px solid #6C757D;

}
.client-area .row.py-4 {
    align-items: center;
}
.client-area .col img{

}
/* -----------------------------------------------------
cleint-area end
---------------------------------------------------- */

/* -----------------------------------------------
        brand area start
--------------------------------------------- */
.brand-area .brand-top p{
    font-size: 18px;
}
.brand-area .brand-top h2{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 46px;
    padding: 20px 0;
}
.brand-area .brand-top p.text {
    font-size: 24px;
}
.brand-area .brand-top{
    position: relative;
}
.brand-area .brand-top:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: gray;
    top: 100%;
    transform: translate(-50%, 50%);
    left: 50%;
}

.brand-area .brand-bottom .content {
    width: 75%;
    margin: auto;
}
.brand-area .brand-bottom .content p {
    font-size: 20px;
}
/* -----------------------------------------------
        brand area end
--------------------------------------------- */


/* -----------------------------------------------
        brand-product area start
--------------------------------------------- */
.brand-product .bg-image{
    background: url('img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    background-position: center center;
}
.brand-product .product .mobile img {
    width: 100%;
}
.brand-product .product.row {
    align-items: center;
}
/* -----------------------------------------------
        brand-product area end
--------------------------------------------- */

/* -----------------------------------------------
        gallery area start
--------------------------------------------- */
.gallery-area .gallery-top{
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.gallery-area .gallery-top:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: gray;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery-area .gallery-top h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 46px;
    padding: 20px 0;
}

.gallary .owl-carousel .owl-item img {
    width: 100%;
    transform: scale(.8);
}
.backgrund-mobile{
   position: relative; 
}
.backgrund-mobile .owl-stage-outer-bg{
    background: url('img/device.png');
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    width: 100%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.owl-carousel .owl-item.center img{
    transform: scale(.9);
    transition: .4s;
}

/* -----------------------------------------------
        gallery area end
--------------------------------------------- */


/* -----------------------------------------------
        price-area area start
--------------------------------------------- */
.price-area .bg-dotted,.mobile-bg-dotted {
   position: relative;
}

.price-area .bg-dotted::before{
    content: "";
    position: absolute;
    display: block;
    top: 40%;
    left: 35%;
    top: 32%;
    width: 100%;
    height: 100%;
    background-size: 12px 12px;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#ffffff3b  14%, transparent 14%);
    -webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    z-index: 0;
}
.price-area .bg-free{
    background: url('img/pricing-bg-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.price-area .bg-pro{
    background: url('img/pricing-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.25rem;
}

.price-area .top.px-5.bg-pro {
    min-height: 194px;
    padding: 20px 0;
}
.price-area .col .card{
    box-shadow: 0 0 13px 1px #0000007d;
    border-radius: 1.25rem;
}

/* faq area start */
.price-area .accordion-button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
}
.price-area .faq-area .accordion-button:not(.collapsed)::after {
    background-image: url();
    left: -5px;
    transition: .4s;
}
.price-area .faq-area .accordion-button::after {
/*     position: absolute;
    content: "\f107"; */
    font-family: 'Font Awesome 5 Free';
    left: 5px;
    background-image: url();
    transition: .4s;
}
/* faq area start */
/* -----------------------------------------------
        price-area area end
--------------------------------------------- */

/* -----------------------------------------------
        fotter area start
--------------------------------------------- */
.barar-area .banar-content{
    align-items: center;
}
.barar-area .content p{
    color: #999;
}
.barar-area .content h2 {
    color: #333;
}
.barar-area .content h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}
.barar-area .content-top p{
    font-weight: 400;
    color: #9BB0BF;
}
.barar-area .hand-mobile img{
    width: 100%;
}
.barar-area .hand-mobile{
    position: relative;
}
.barar-area .hand-mobile video{
    position: absolute;
    left: 59px;
    width: 43%;
    top: 26px;
}
.mobile-bg-dotted::before {
    content: "";
    position: absolute;
    display: block;
    left: 35%;
    top: 44%;
    width: 100%;
    height: 100%;
    background-size: 12px 12px;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#3c50da   14%, transparent 14%);
    -webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    z-index: -1;
}
/* -----------------------------------------------
        fotter area end
--------------------------------------------- */

/* -----------------------------------------------
        client area start
--------------------------------------------- */
.testimonial-area{
background-color: #3174D7;
}
.testimonial-area .image {
    width: 100px;
    margin: auto;
}
.testimonial-area blockquote p{
    font-weight: 500;
    font-size: 28px;
}
.testimonial-area blockquote .quote-fotter{
    font-size: 14px;
    opacity: .8;
}
.testimonial-area .owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -29%);
    height: 100px;
    font-size: 50px;
    width: 100%;
    color: #2b6ac8;
}
.testimonial-area .owl-theme .owl-nav span {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 50%;
    line-height: 36px;
    background: white;
}
.testimonial-area .owl-theme button.owl-prev {
    float: left;
}
.testimonial-area .owl-theme button.owl-next {
    float: right;
}
.owl-theme .owl-nav [class*=owl-]{

    transition: .4s;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #2b6ac8;
    margin-top: 15px;
}
.testimonial-area .carosel-dott{
    position: relative;
}
.testimonial-area .carosel-dott::after{
    content: "";
    position: absolute;
    display: block;
    left: 24%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-size: 12px 12px;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 14%, transparent 14%);
      -webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    z-index: 0;
}

/* contuct area start */
.testimonial-area .contuct-bottom form label{
    color: #555;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.testimonial-area .contuct-bottom form input, textarea.form-control{
    font-size: 1.25rem;
}
.testimonial-area .contuct-bottom button.btn.btn-primary {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #eee;
    padding: 14px 0;
}

 .testimonial-area .contuct-bottom button[type=submit]{
    transition: .4s;
 }
 .contuct-bottom button[type=submit]:hover {
    transform: translateY(-4px);
}
.testimonial-area .contuct-dotted{
    content: "";
    position: absolute;
    display: block;
    left: 24%;
    top: 50%;
    width: 100%;
    height: 500px;
    background-size: 12px 12px;
    background-position: center;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(rgb(255 255 255 / 74%) 14%, transparent 14%);
    -webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
    z-index: 0;
}
.testimonial-area .contuct-top{
    height: 600px;
}
.testimonial-area .contuct-bottom{
    position: absolute;
    width: 100%;
    top: 35%;
    z-index: 1;
}
/* contuct area end */

/* -----------------------------------------------
        client area end
--------------------------------------------- */

/* -----------------------------------------------
        fotter area start
--------------------------------------------- */
section.fotter-area {
    margin-top: 283px;
}
.fotter-area h4{
    font-size: 15px;
    font-weight: 700;
}
.fotter-area a,.fotter-area i{
    text-transform: capitalize;
    color: black;
    opacity: .8;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 5px 0;
}
.fotter-area a:hover,.fotter-area i:hover{
    opacity: 1;
}
.fotter-area ul{
    padding: 0;
}
.fotter-area .social i {
    color: white;
    padding: .5rem .75rem;
    border-radius: 5px;
    margin-right: 5px;
    opacity: 1;
}
.fotter-area .social i.fa-facebook-f{
    background: #3B5998;
}
.fotter-area .social i.fa-instagram{
    background: #8A3AB9;
}
.fotter-area .social i.fa-twitter{
    background: #000000;
}
.fotter-area .social i.fa-apple{
    background: #00ACEE;
}
.fotter-area .social i.fa-android{
    background: #A4C639;
}

/* -----------------------------------------------
        fotter area end
--------------------------------------------- */
.fotter-bar{
    background: #3D80E4;

}
.conditions a{
    text-transform: capitalize;
    color: white;
    opacity: .5;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.conditions a:hover{
    opacity: 1;
    border-bottom: 1px solid;
}
.fotter-bar .buttons a{
    opacity: .8;
    transition: .4s;
}
.fotter-bar .buttons a:hover{
    opacity: 1;
}